@font-face {
  font-family: "League Spartan";
  src: url("./assets/fonts/LeagueSpartan-VariableFont_wght.ttf");
}

.intro-tab h1, .description h2, .photo-section h2 {
  font-weight: 700;
  letter-spacing: -2px;
  line-height: 48px;
}

.intro-tab p {
  font-weight: 500;
  color: white;
  size: 18px;
  line-height: 24px;
}

.intro-tab, .description, .photo-section, footer {
  padding: 3rem 2rem;
}

@media (min-width: 600px) {
  .intro-tab, .description, .photo-section, footer {
    padding: 8rem 6rem;
    margin: 0 5.5rem;
  }
}

.intro-tab button, .photo-section button, footer button {
  font-weight: 700;
  color: white;
  size: 18px;
  background-color: #1b1d23;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 2rem;
  gap: 1rem;
}

.intro-tab button img, .photo-section button img, footer button img {
  -webkit-filter: brightness(10);
          filter: brightness(10);
}

@media (min-width: 600px) {
  .intro-tab button, .photo-section button, footer button {
    padding: 1.5em 2rem;
  }
}

.description:before {
  content: "";
  width: 20%;
  height: 2px;
  background: #c8ccd8;
  position: absolute;
}

@media (min-width: 600px) {
  .description:before {
    display: none;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
  font-size: 18px;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.active {
  color: #1b1d23 !important;
}

.side-decor span {
  display: none;
}

@media (min-width: 900px) {
  .side-decor span {
    display: inline-block;
    color: #c8ccd8;
    line-height: 24px;
    letter-spacing: 18px;
    position: absolute;
    top: 15rem;
    padding-top: 4rem;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-filter: drop-shadow(4px 0px 5px rgba(0, 0, 0, 0.25));
            filter: drop-shadow(4px 0px 5px rgba(0, 0, 0, 0.25));
  }
  .side-decor span:before {
    content: "";
    width: 150%;
    border-bottom: solid 1px #c8ccd8;
    position: absolute;
    bottom: 0.75em;
    right: 130%;
    z-index: 1;
    -webkit-filter: drop-shadow(1px 1px 40px white);
            filter: drop-shadow(1px 1px 40px white);
  }
}

.header-nav-wrapper {
  position: relative;
  z-index: 3;
}

@media (min-width: 600px) {
  .header-nav-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@-webkit-keyframes slide-down {
  0% {
    opacity: 0.7;
    -webkit-transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes slide-down {
  0% {
    opacity: 0.7;
    -webkit-transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

#mobile-nav {
  display: none;
  background-color: #eeeff4;
  padding: 1rem;
  position: absolute;
  width: 100%;
  -webkit-animation: slide-down 0.3s linear;
          animation: slide-down 0.3s linear;
}

@media (min-width: 600px) {
  #mobile-nav {
    display: inline-block;
    background-color: transparent;
    position: static;
    width: auto;
    -webkit-animation: none;
            animation: none;
  }
}

#mobile-nav .ul-top-level {
  padding-left: 0;
}

@media (min-width: 600px) {
  #mobile-nav .ul-top-level > li {
    display: inline-block;
    color: #7d828f;
    margin: 0.4rem;
    position: relative;
  }
}

#mobile-nav .izglitiba-sub,
#mobile-nav .pakalpojumi-sub,
#mobile-nav .blogs-sub {
  display: none;
}

@media (min-width: 600px) {
  #mobile-nav .izglitiba-sub,
  #mobile-nav .pakalpojumi-sub,
  #mobile-nav .blogs-sub {
    position: absolute;
    background-color: white;
    padding: 0 1rem;
  }
  #mobile-nav .izglitiba-sub li a:hover,
  #mobile-nav .pakalpojumi-sub li a:hover,
  #mobile-nav .blogs-sub li a:hover {
    padding-left: 10px;
    border-left: 2px solid #c8ccd8;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: inline-block;
  }
}

@media (min-width: 600px) {
  #mobile-nav .izglitiba-sub {
    width: 13.5rem;
  }
  #mobile-nav .pakalpojumi-sub {
    width: 19rem;
  }
  #mobile-nav .blogs-sub {
    width: 12.5rem;
    right: 2rem;
  }
}

#mobile-nav ul {
  list-style: none;
  color: #1b1d23;
  margin: 0;
}

#mobile-nav ul li {
  margin: 1rem;
  font-weight: 700;
}

#mobile-nav ul li a {
  font-size: 25px;
}

@media (min-width: 600px) {
  #mobile-nav ul li a {
    font-size: 18px;
    font-weight: 600;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem;
}

header img.logo {
  width: 11rem;
}

header button.nav-button {
  display: inline-block;
  border: none;
  padding: 1rem;
  text-decoration: none;
  background-color: transparent;
  color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
}

@media (min-width: 600px) {
  header button.nav-button {
    display: none;
  }
}

@media (min-width: 600px) {
  header {
    padding: 0.5rem 0;
  }
}

.intro-tab {
  background-size: cover !important;
  background-position: center !important;
  background-blend-mode: darken;
}

.intro-tab h1 {
  color: white;
  font-size: 48px;
  margin-bottom: -0.5rem;
}

@media (min-width: 600px) {
  .intro-tab p {
    text-align: justify;
  }
}

.intro-tab button {
  margin-top: 3rem;
}

@media (min-width: 600px) {
  .description {
    text-align: justify;
    margin: 0;
    margin-bottom: -5rem;
    color: #1b1d23;
  }
}

.description h2 {
  text-align: left;
  font-size: 48px;
}

@media (min-width: 600px) {
  .description h2 {
    margin-top: 0;
  }
}

.description .greeting {
  display: none;
}

@media (min-width: 600px) {
  .description .greeting {
    display: block;
    color: #eeeff4;
    text-align: right;
    font-size: 120px;
    margin: -1.8rem;
    position: relative;
    right: 0.25em;
  }
}

.photo-section {
  background-blend-mode: darken;
  background-image: url(./assets/home/photo.jpg);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 600px) {
  .photo-section {
    padding-top: 0;
  }
}

.photo-section h2 {
  font-size: 28px;
  color: white;
  letter-spacing: -1px;
  line-height: 35px;
  padding-top: 10rem;
}

@media (min-width: 600px) {
  .photo-section h2 {
    padding-top: 20rem;
  }
}

.photo-section button {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.section-wrapper {
  background-color: white;
  padding-bottom: 8rem;
  z-index: 1;
}

@media (min-width: 600px) {
  .section-wrapper {
    padding-bottom: 4rem;
  }
}

.modal-bg {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 280%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}

@media (min-width: 600px) {
  .modal-bg {
    background-color: transparent;
    height: 200%;
  }
}

footer {
  background-color: #eeeff4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-top: 4rem;
}

@media (min-width: 600px) {
  footer {
    margin: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0;
    width: 80%;
  }
}

footer button {
  margin-top: 1rem;
}

@media (min-width: 810px) {
  footer button {
    position: absolute;
    right: -8rem;
    bottom: 1.75rem;
  }
}

footer .logo {
  background-color: #1b1d23;
  width: 14rem;
  height: 6rem;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  bottom: 18rem;
}

@media (min-width: 400px) {
  footer .logo {
    bottom: 17rem;
  }
}

@media (min-width: 600px) {
  footer .logo {
    position: static;
    width: 10rem;
    height: 8rem;
  }
}

footer a {
  color: #7d828f;
  font-weight: 600;
  size: 18px;
  margin: 0.8rem;
}
/*# sourceMappingURL=styles.css.map */