$very-dark-blue: #1b1d23;
$dark-gray: #60636d;
$light-gray: #c8ccd8;
$very-light-gray: #eeeff4;
$gray: #7d828f;

@font-face {
  font-family: "League Spartan";
  src: url("./assets/fonts/LeagueSpartan-VariableFont_wght.ttf");
}

%heading {
  font-weight: 700;
  letter-spacing: -2px;
  line-height: 48px;
}

%body-text {
  font-weight: 500;
  color: white;
  font-size: 18px;
  line-height: 24px;
}

%section {
  padding: 3rem 2rem;
  @media (min-width: 600px) {
    padding: 8rem 6rem;
    margin: 0 5.5rem;
  }
  @media (min-width: 992px) {
    padding: 10rem;
    margin: 0 8rem !important; 
  }
}

%button {
  font-weight: 700;
  color: white;
  size: 18px;
  background-color: $very-dark-blue;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 2rem;
  gap: 1rem;
  &:hover {
    background-color: $dark-gray;
    transition: 0.2s;
  }
  img {
    filter: brightness(10);
  }
  @media (min-width: 600px) {
    padding: 1.5em 2rem;
  }
}

%decor-pseudo {
  content: "";
  width: 20%;
  height: 2px;
  background: $light-gray;
  position: absolute;
  @media (min-width: 600px) {
    display: none;
  }
}

* {
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
  font-size: 18px;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: $very-dark-blue;
    transition: 0.5s;
  }
}

button {
  cursor: pointer;
}

.active {
  color: $very-dark-blue !important;
}

.side-decor {
  span {
    display: none;
    @media (min-width: 900px) {
      display: inline-block;
      color: $light-gray;
      line-height: 24px;
      letter-spacing: 18px;
      position: absolute;
      top: 15rem;
      padding-top: 4rem;
      transform: rotate(90deg);
      filter: drop-shadow(4px 0px 5px rgba(0, 0, 0, 0.25));

      &:before {
        content: "";
        width: 150%;
        border-bottom: solid 1px $light-gray;
        position: absolute;
        bottom: 0.75em;
        right: 130%;
        z-index: 1;
        // this is the hackiest thing I've ever done, I'm embarrassed that this works
        filter: drop-shadow(1px 1px 40px rgb(255, 255, 255));
      }
    }
    @media (min-width: 992px) {
      padding-top: 2rem;
    }
  }
}

.header-nav-wrapper {
  position: relative;
  z-index: 3;
  @media (min-width: 600px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media (min-width: 992px) {
    justify-content: flex-start;
    margin-left: 7rem;
  }
}

@keyframes slide-down {
  0% {
    opacity: 0.7;
    -webkit-transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

#mobile-nav {
  display: none;
  background-color: $very-light-gray;
  padding: 1rem;
  position: absolute;
  width: 100%;
  animation: slide-down 0.3s linear;
  @media (min-width: 600px) {
    display: inline-block;
    background-color: transparent;
    position: static;
    width: auto;
    animation: none;
  }

  .ul-top-level {
    padding-left: 0;
    > li {
      @media (min-width: 600px) {
        display: inline-block;
        color: $gray;
        margin: 0.4rem;
        position: relative;
        @media (min-width: 992px) {
          margin-right: 1.5rem;
        }
      }
    }
  }

  .izglitiba-sub,
  .pakalpojumi-sub,
  .blogs-sub {
    display: none;
    @media (min-width: 600px) {
      position: absolute;
      background-color: white;
      padding: 0 1rem;
      @media (min-width: 992px) {
        left: -3rem !important;
      }

      li a:hover {
        padding-left: 10px;
        border-left: 2px solid $light-gray;
        transition: all 0.3s ease;
        display: inline-block;
      }
    }
  }

  @media (min-width: 600px) {
    .izglitiba-sub {
      width: 13.5rem;
    }

    .pakalpojumi-sub {
      width: 19rem;
      @media (min-width: 992px) {
        left: -6rem !important;
      }
    }

    .blogs-sub {
      width: 12.5rem;
      right: 2rem;
    }
  }
  @media (min-width: 992px) {
    .blogs-sub {
      left: 0;
    }
  }

  ul {
    list-style: none;
    color: $very-dark-blue;
    margin: 0;
    li {
      margin: 1rem;
      font-weight: 700;

      a {
        font-size: 25px;
        @media (min-width: 600px) {
          font-size: 18px;
          font-weight: 600;
        }
      }
    }
  }
}

header {
  img.logo {
    width: 11rem;
    @media (min-width: 992px) {
      margin-right: 2rem;
    }
  }
  button.nav-button {
    display: inline-block;
    border: none;
    padding: 1rem;
    text-decoration: none;
    background-color: transparent;
    color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    @media (min-width: 600px) {
      display: none;
    }
  }
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  @media (min-width: 600px) {
    padding: 0.5rem 0;
  }
}

.intro-tab {
  @extend %section;
  background-size: cover !important;
  background-position: center !important;
  background-blend-mode: darken;
  @media (min-width: 1100px) {
    padding-right: 20rem;
  }
  h1 {
    @extend %heading;
    color: white;
    font-size: 48px;
    margin-bottom: -0.5rem;
    @media (min-width: 992px) {
      font-size: 75px;
      margin-top: 0;
      line-height: 70px;
    }
  }
  p {
    @extend %body-text;
    @media (min-width: 600px) {
      text-align: justify;
    }
  }
  button {
    @extend %button;
    margin-top: 3rem;
  }
}

.description {
  @extend %section;
  @media (min-width: 600px) {
    text-align: justify;
    margin: 0;
    margin-bottom: -5rem;
    color: $very-dark-blue;
  }
  @media (min-width: 992px) {
    display: flex;
    align-items: flex-end;
    padding: 0;
  }
  h2 {
    @extend %heading;
    text-align: left;
    font-size: 48px;
    @media (min-width: 600px) {
      margin-top: 0;
    }
    @media (min-width: 600px) {
      margin-top: 5rem;
    }
  }
  &:before {
    @extend %decor-pseudo;
  }
  img {
    display: none;
    @media (min-width: 992px) {
      display: block;
      object-fit: cover;
      width: 30vw;
    }
  }
  .greeting {
    display: none;
    @media (min-width: 600px) {
      display: block;
      color: $very-light-gray;
      text-align: right;
      font-size: 120px;
      margin: -1.8rem;
      margin-bottom: -7rem;
      position: relative;
      right: 0.25em;
    }
    @media (min-width: 992px) {
      font-size: 180px;
      text-align: left;
      position: relative;
      margin-bottom: -2rem;
      margin-left: 10rem;
      left: 0;
      top: 6.5rem;
    }
  }
  .text {
    @media (min-width: 992px) {
      padding-right: 5rem;
    }
  }
}

.photo-section {
  @extend %section;
  background-blend-mode: darken;
  background-image: url(./assets/home/photo.jpg);
  position: relative;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: column;
  @media (min-width: 600px) {
    padding-top: 0;
  }
  @media (min-width: 992px) {
    align-items: center;
  } 
  h2 {
    @extend %heading;
    font-size: 28px;
    color: white;
    letter-spacing: -1px;
    line-height: 35px;
    padding-top: 10rem;
    @media (min-width: 600px) {
      padding-top: 20rem;
    }
    @media (min-width: 992px) {
      width: 70%;
      padding-top: 25rem;
    }
  }
  button {
    @extend %button;
    width: max-content;
  }
}

.section-wrapper {
  background-color: white;
  padding-bottom: 8rem;
  z-index: 1;
  @media (min-width: 600px) {
    padding-bottom: 4rem;
  }
}

.modal-bg {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 280%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  @media (min-width: 600px) {
    background-color: transparent;
    height: 200%;
  }
}

footer {
  @extend %section;
  background-color: $very-light-gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 4rem;
  @media (min-width: 600px) {
    margin: 0;
    flex-direction: row;
    padding: 0;
    width: 80%;
  }

  button {
    @extend %button;
    margin-top: 1rem;
    @media (min-width: 810px) {
      position: absolute;
      right: -8rem;
      bottom: 1.75rem;
    }
    @media (min-width: 992px) {
      right: -5rem;
    }
  }
  .logo {
    background-color: $very-dark-blue;
    width: 14rem;
    height: 6rem;
    object-fit: contain;
    position: absolute;
    bottom: 18rem;
    @media (min-width: 400px) {
      bottom: 17rem;
    }
    @media (min-width: 600px) {
      position: static;
      width: 10rem;
      height: 8rem;
    }
  }
  a {
    color: $gray;
    font-weight: 600;
    font-size: 18px;
    margin: 0.8rem;
    @media (min-width: 1100px) {
      margin: auto 2.5rem;
    }
  }
}
